<div class="grid w-full grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-12">
  <!-- Venta Neta Total -->
  <hlm-skeleton class="col-span-1 flex h-[180px] rounded-xl sm:col-span-2 lg:col-span-6" />

  <!-- Ticket promedio -->
  <hlm-skeleton class="col-span-1 flex h-[180px] rounded-xl sm:col-span-1 lg:col-span-3" />

  <!-- Transacciones -->
  <hlm-skeleton class="col-span-1 flex h-[180px] rounded-xl sm:col-span-1 lg:col-span-3" />

  <!-- Clientes activos -->
  <hlm-skeleton
    class="col-span-1 hidden h-[180px] rounded-xl sm:col-span-1 sm:flex lg:col-span-3"
  />

  <!-- Tasa de devolución -->
  <hlm-skeleton
    class="col-span-1 hidden h-[180px] rounded-xl sm:col-span-1 sm:flex lg:col-span-3"
  />

  <!-- Tendencias de ventas -->
  <hlm-skeleton
    class="col-span-1 hidden h-[180px] rounded-xl sm:col-span-2 lg:col-span-7 lg:flex"
  />

  <!-- Venta por sede -->
  <hlm-skeleton class="hidden h-[180px] space-y-4 rounded-xl sm:col-span-2 lg:col-span-5 lg:flex" />
</div>
